.rodape-div{

        height: 500px;
        text-align: center;
        width:100%;

}
.formulario{
    display: inline-block;
    position: relative;
width: 500px;

}

.btn{
    background-color: #1bbc9b;
    color: white;
}