<nav class="navbar navbar-expand navbar-dark nav-topo">
    <a class="navbar-brand portal-viagens" href="#">PORTAL DE VIAGENS</a>

    <div class="collapse navbar-collapse" id="topo">
      <ul class="navbar-nav mr-auto lista">
        <li class="nav-item active">
          <a class="nav-link" href="#">DESTINOS </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">VALORES </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">CONTATO </a>
          </li>
          

      </ul>
    </div>
  </nav>